h1 {
    text-align: center;
}
h2 {
    text-align: center;
    border: 1px solid black;
}
main {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(80, 80, 219), rgb(76, 202, 76), rgb(228, 207, 207));
}

img {
    border: 1px solid black;
    width: auto;
    height: 100px;
    
}

.fish-list-box {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

.tips-and-locations-container {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.tips-aside {
    border: 1px solid black;
    margin: 5px;
}

.fish-container {
    border: 1px solid black;
    display: flex;
}

.fish-container-info {
    padding: 10px;
}
.tips-aside {
    padding: 10px;
}